.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section#header {
  background: #339a99;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #339a99), color-stop(100%, #66cc9a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #339a99 0%, #66cc9a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#339a99, endColorstr=#66cc9a, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
section#header .navbar-default ul.navbar-nav li a {
  color: #ffffff;
  background: none;
}
section#header .navbar-default ul.navbar-nav li a.getApp {
  color: #66cc9a;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #ffffff 0%, #d5ede7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #d5ede7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #ffffff 0%, #d5ede7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #ffffff 0%, #d5ede7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #ffffff 0%, #d5ede7 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ffffff 0%, #d5ede7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#d5ede7, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
section#header .navbar-default ul.navbar-nav li a.getApp:hover {
  background: #d5ede7;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #d5ede7 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #d5ede7), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #d5ede7 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #d5ede7 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #d5ede7 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #d5ede7 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d5ede7, endColorstr=#ffffff, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
section#header .carousel h1 {
  color: #ffffff;
}
section#header .carousel .btn.btn-empty {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
}
section#header .carousel .btn.btn-empty:hover {
  background: #ffffff;
  color: #66cc9a;
}
section#header .carousel .btn.btn-default {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #ffffff;
  color: #66cc9a;
}
section#header .carousel .btn.btn-default:hover {
  background: none;
  color: #ffffff;
}
section#about .about-item i.fa {
  border: 2px solid #66cc9a;
  color: #66cc9a;
}
section#about .about-item:hover i.fa {
  color: #ffffff;
  background: #66cc9a;
}
section#about .about-item:hover h3 {
  color: #66cc9a;
}
section#features {
  background: #f6f6f6;
}
section#features header h1:after {
  background: #66cc9a;
}
section#features .media i.fa {
  border: 2px solid #66cc9a;
  color: #66cc9a;
}
section#features .media:hover i.fa {
  color: #ffffff;
  background: #66cc9a;
}
section#features .media:hover h3 {
  color: #66cc9a;
}
section#features .media.active i.fa {
  color: #ffffff;
  background: #66cc9a;
}
section#reviews {
  background: url("../img/bk.jpg");
}
section#reviews header {
  color: #ffffff;
}
section#reviews header h1:after {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-person img {
  border: 3px solid #ffffff;
}
section#reviews .review-filtering .review .review-comment {
  background: #ffffff;
}
section#reviews .review-filtering .review .review-comment h3 {
  color: #66cc9a;
}
section#reviews .review-filtering .review .review-comment p span i {
  color: #66cc9a;
}
section#reviews .review-filtering .review .review-comment:after {
  border-right-color: #ffffff;
}
section#reviews .review-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
section#reviews .review-filtering .slick-dots li.slick-active button {
  background: #66cc9a;
}
section#screens header h1:after {
  background: #66cc9a;
}
section#screens .slider div img {
  border: 2px solid #979797;
}
section#screens .slider div h4 {
  color: #979797;
}
section#screens .slider .slick-dots li button {
  background: #979797;
}
section#screens .slider .slick-dots li.slick-active button {
  background: #66cc9a;
}
section#screens .filter a {
  border: 2px solid #979797;
  color: #979797;
}
section#screens .filter a:hover {
  color: #ffffff;
  background: #66cc9a;
  border-color: #66cc9a;
}
section#screens .filter a.active {
  color: #ffffff;
  background: #66cc9a;
  border-color: #66cc9a;
}
/* demo video Section */
section#demo {
  background: #f6f6f6;
}
section#demo header h1:after {
  background: #66cc9a;
}
/* Get app Section */
section#getApp {
  background: url("../img/bk2.jpg");
}
section#getApp header {
  color: #ffffff;
}
section#getApp header h1:after {
  background: #ffffff;
}
section#getApp .platforms .media {
  border: 2px solid #ffffff;
  color: #ffffff;
}
section#getApp .platforms .media a i {
  color: #ffffff;
}
section#getApp .platforms .media a div.media-body {
  color: #ffffff;
}
section#getApp .platforms .media:hover {
  background: #ffffff;
}
section#getApp .platforms .media:hover a i,
section#getApp .platforms .media:hover a div.media-body {
  color: #66cc9a;
}
/* support section */
section#support header h1:after {
  background: #66cc9a;
}
section#support .media i.fa {
  border: 2px solid #66cc9a;
  color: #66cc9a;
}
section#support .media a {
  color: #66cc9a;
}
section#support .media:hover i.fa {
  color: #ffffff;
  background: #66cc9a;
}
section#support .media:hover h3 {
  color: #66cc9a;
}
/* footer section */
section#footer {
  background: #339a99;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #339a99), color-stop(100%, #66cc9a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #339a99 0%, #66cc9a 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #339a99 0%, #66cc9a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#339a99, endColorstr=#66cc9a, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
section#footer .social a {
  border: 2px solid #ffffff;
}
section#footer .social a i {
  color: #ffffff;
}
section#footer .social a:hover {
  background: #ffffff;
}
section#footer .social a:hover i {
  color: #66cc9a;
}
section#footer .rights {
  color: #ffffff;
}
section#footer .rights a {
  color: #ffffff;
}
/* Double Diagonal line */
.doublediagonal,
.doublediagonal-down {
  background: #ffffff;
}
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}
