.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#switcher {
  position: fixed;
  top: 100px;
  left: -250px;
  z-index: 99;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#switcher.active {
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#switcher .switcher-wrapper {
  width: 250px;
  background: #FFF;
  float: left;
  -webkit-border-radius: 0 0 15px 0;
  -moz-border-radius: 0 0 15px 0;
  -ms-border-radius: 0 0 15px 0;
  -o-border-radius: 0 0 15px 0;
  border-radius: 0 0 15px 0;
  border: 1px solid #ccc;
  border-left: none;
}
#switcher .switcher-wrapper div {
  padding: 15px;
}
#switcher .switcher-toggle {
  background: #FFF;
  padding: 15px;
  float: left;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -ms-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  position: relative;
  left: -1px;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
}
